<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jw.videopicker">
	<application>
		<activity android:name="com.jw.videopicker.VideoGridActivity"
		          android:configChanges="orientation|screenSize"
		          android:theme="@style/ImagePickerTheme"/>
		<activity
				android:name=".VideoPreviewActivity"
				android:configChanges="orientation|screenSize"
				android:theme="@style/ImagePickerTheme"/>
		<activity android:name=".trim.VideoTrimmerActivity"
		          android:configChanges="orientation|screenSize"
		          android:theme="@style/ImagePickerTheme"/>
	</application>
</manifest>
