<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jw.videopicker">
	<application >
		<activity android:name="com.jw.videopicker.VideoGridActivity"
		          android:theme="@style/VideoPickerTheme" />
		<activity
				android:name=".VideoPreviewActivity"
				android:configChanges="orientation|screenSize"
				android:theme="@style/ImagePickerThemeFullScreen" />
	</application>
</manifest>
