<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.jw.uploaddemo">
	
	<application android:allowBackup="true"
	             android:name=".uploadPlugin.UploadPluginApplication"
	             android:label="@string/app_name"
	             android:roundIcon="@mipmap/ic_launcher_round"
	             android:supportsRtl="true"
	             android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
		<activity android:name=".activity.MainActivity"
		          android:screenOrientation="portrait"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<activity android:name=".activity.ProgressActivity"/>
		<activity android:name="com.jw.shotRecord.ShotRecordMainActivity"/>
		<activity android:name="com.jw.galary.img.ui.ImageGridActivity"/>
		<activity android:name="com.jw.galary.img.ui.ImageCropActivity"/>
		<activity android:name="com.jw.galary.img.ui.CropActivity"/>
		<activity android:name="com.jw.galary.img.ui.ImagePreviewActivity"/>
		<activity android:name="com.jw.galary.img.ui.ImagePreviewDelActivity"/>
		
		<provider
				android:name="com.jw.galary.img.ImagePickerProvider"
				android:authorities="${applicationId}.provider"
				android:exported="false"
				android:grantUriPermissions="true" >
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/provider_paths" />
		</provider>
		
		
		<activity android:name="com.jw.galary.video.VideoGridActivity"/>
		<activity android:name="com.jw.galary.video.VideoPreviewActivity"/>
		<activity android:name="com.jw.galary.video.trim.VideoTrimmerActivity"/>
		
		<receiver android:name=".videoupload.impl.TVCNetWorkStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</receiver>
		<uses-library android:name="org.apache.http.legacy" android:required="false"/>
	</application>
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!--相机开启闪光灯-->
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	
	<!--危险权限，需代码申请-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
	
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
</manifest>
